:root {
    --background-color: red;
    --text-color: rgb(19, 14, 14);
}

*{
    margin: 0px;
    padding: 0px;
}


.header {

    padding: 20px;
    border: 50px solid yellow;
    height: 50vh;
    box-sizing: border-box;
    background-image: url(nen3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-position: top 10px right 50px;
    width: calc(80%+5px);
}

#pos {
    position: Absolute;
    bottom: 0px;
    right: 0px;
}

.header2 {
    width: 50%;
    height: 100px;
    background-color: blue;    

}