* { 
    margin:0;
    padding:0;
    box-sizing:border-box; 
    font-family: inherit;
}

body {
    background-color: rgb(240, 242, 245);
}

a {
    text-decoration: none
}


.header {
    width: 100%;
    height: 56px;
}

.logo {

}

#logo_login {
    width: 100%;
    padding-top:20px 
    
}

.than_1 {
    width: 70%;
    height: 700px;
    margin: auto;
}

.info_web {
    width: 50%;
    float: left;
    height: 700px; 
}

.title_web {
    width: 100%;
    padding: 50px;
    margin: auto;
}

.info_login {
    width: 50%;
    float: left;
    height: 700px;
    padding-top: 60px;
    
}

.form_login {
    width: 70%;
    padding: 20px;
    margin: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.button_login{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size:larger;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input_login {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size:larger;
    margin-bottom: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}



#button_login {
    background-color: #4CAF50;
    color: white;
}

#button_login:hover{
    background-color: #34a538;

}

#button_creat {
    background-color: #1877f2;
    color: white;
}

#button_creat:hover {
    background-color: #1269db;
}

.forget_pass {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size:larger;
}

.notifi {
    margin-bottom: 10px;

}